<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<h1 id="compilerogarai">Compiler Ogar-AI</h1>

<pre><code class="Shell language-Shell">make ogar-client
</code></pre>

<h1 id="lancerogarai">Lancer Ogar-AI</h1>

<pre><code class="Shell language-Shell">./ogar-client -o agar.io 127.0.0.1:1443 --stacktrace --packetData --username=Ogar-AI --controller=manual
</code></pre>

<p><strong>Options disponibles</strong></p>

<ul>
<li><strong>--stacktrace</strong> Affiche la trace du programme</li>

<li><strong>--packetData</strong> Affiche tous les échanges de paquets ainsi que leurs données décodées.</li>

<li><strong>--username</strong> Choisi un pseudonyme. (Pingu par défaut)</li>

<li><strong>--controller</strong> Choisi un controller :


<ul>
<li><strong>manual</strong> (Par défaut) Contrôle au clavier/souris. (Pas encore implémenté, pour l'instant,
se déplace à la position (500, 500) pour tester les paquets.</li>

<li><strong>ai-lazy</strong> Utilise l'IA "Lazy" : mange ce qu'il y a de plus proche. (Pas encore implémentée)</li></ul>
</li>

<li><strong>--display</strong> (Pas encore implémentée) Lance un affichage SDL pour voir le jeu. (Obligatoire lors de l'utilisation du controller manual) </li>
</ul>
